/*universals*/

* {
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  height: auto;
}

.gray-background {
  background-color: #D8D8D8;
}

.column {
  display: flex;
  flex-direction: column;
}

/* begin nav area */

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  margin: 0 24px;
}

.nav-item {
  list-style: none;
  display: inline;
  padding: 0 8px;
}

.nav-item a {
  color: gray;
  text-decoration: none;
}

#logo {
  display: flex;
  align-items: center;
}

#logo-letters {
  font-weight: bold;
  height: auto;
}

.gray {
  color: gray;
  font-weight: normal;
}

/*end nav area*/

/*begin main banner*/

#main-banner {
  height: auto;
}

.large-image {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.large-image img {
  width: 100%;
}

.column-main {
  justify-content: center;
  align-items: left;
  width: 40%;
  padding-right: 2em;
}

.column-main h1 {
  color: rgba(60, 60, 60, .8);
  font-size: 2.5em;
  font-weight: bold;
}

.column p {
  color: rgba(60, 60, 60, .8);
  font-size: 1.2em;
}

.button {
  width: 80%;
  text-align: center;
}

.button p {
  color: white;
  background-color: rgba(60, 60, 60, .8);
  padding: 8px 1rem;
}

/*end main banner*/

/*begin middle banner*/

#middle-banner {
  height: auto;
}

.middle-banner-left {
  padding: 32px 24px;
  width: 60%;
  height: auto;
}

.middle-banner-left img {
  width: 100%;
  height: auto;
  border: 4px solid rgba(60, 60, 60, .1);
}

#credit {
  font-size: .7rem;
  color: black;
}

.middle-banner-left h1 {
  font-weight: bolder;
  color: rgba(60, 60, 60, .95);
}

.middle-banner-right {
  width: 40%;
  height: auto;
  padding-right: 1rem;
  padding-top: 32px;
}

.tour img {
  float: left;
  height: auto;
  max-width: 35%;
  padding-right: 1rem;
  padding: 10px;
}

.tour p {
  font-size: .7rem;
}

.tour a {
  text-decoration: none;
  color: rgb(86, 142, 239);
  font-size: 1rem;
}

.tour {
  margin-bottom: .3rem;
  border: 4px solid rgba(60, 60, 60, .1);
}

.tour:hover {
  background-color: rgba(60, 60, 60, .2);
}

/*end middle banner*/

/*begin courses list*/
